@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-main {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0px 160px;
  justify-content: space-between;
  align-items: center;
  background: var(--White, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.sticky-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 40px;
}

.our-services,
.about-us {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.our-services:hover {
  color: #59180b;
}

.about-us:hover {
  color: #59180b;
}

.contact-us-btn {
  border-radius: 8px;
  background: linear-gradient(90deg, #59180b 0%, #220904 100%);
  display: flex;
  height: 48px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  cursor: pointer;
}

.contact-us-btn:hover {
  border-radius: 8px;
  background: var(--Maroon-Primary, #621a0c);
}

.contact-us-btn.sec {
  width: 30%;
  height: 48px;
  font-size: 16px;
  padding: 10px 20px;
}

.contact-us-btn.light {
  background: #fff;
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.contact-us-btn.brown {
  border-radius: 8px;
  background: rgba(41, 11, 5, 0.5);
  backdrop-filter: blur(25px);
  border: 1px solid transparent;
}

.contact-us-btn.brown:hover {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(41, 11, 5, 0.7);
  backdrop-filter: blur(25px);
}

.contact-us-btn.light:hover {
  border-radius: 8px;
  background: rgba(123, 123, 123, 0.5);
  backdrop-filter: blur(20px);
  color: var(--White, #fff);
}

.footer-cover {
  background: var(--White, #fff);
  display: flex;
  padding: 40px 160px 20px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-main {
  display: flex;
  padding: 80px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 40px;
  background: linear-gradient(0deg, #220904 0%, #59180b 100%);
}

.footer-socials-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.footer-tab-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.socials-logos {
  display: flex;
  width: 215px;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  display: flex;
  gap: 16px;
  align-self: stretch;
}

.socials-logos.responsive {
  width: 100%;
}

.logo-cover {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.logo-cover:hover {
  opacity: 0.8;
}

.mobiglide-text p {
  align-self: stretch;
  color: var(--White, #fff);
  font-family: Futura-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}

.footer-tab-right {
  display: flex;
  align-items: center;
  gap: 64px;
}

.about-us-footer-tab,
.services-footer-tab,
.careers-footer-tab,
.contact-footer-tab {
  color: var(--Grey-grey-100, #d6d6d6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  cursor: pointer;
}
.about-us-footer-tab:hover{
  color: white;
}
.services-footer-tab:hover{
  color: white;
}
.careers-footer-tab:hover{
  color: white;
}
.contact-footer-tab:hover{
  color: white;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background: #6c6c6c;
}

.footer-rights {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.rights-text-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--Grey-grey-100, #d5d5d5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.address-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.address-cover {
  width: 100%;
  padding: 40px 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-us,
.visit-us,
.call-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  width: 33%;
}

.mail-us h1 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.visit-us h1 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.call-us h1 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.mail-us,
.visit-us,
.call-us p {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form {
  background: var(--White, #fff);
  display: flex;
  width: 100%;
  padding: 80px 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.form-container {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

label {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

label span {
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #b4b4b4;
}

textarea {
  resize: none;
  height: 100px;
  color: var(--Grey-grey-300, #A7A7A7);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.submit-btn {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #59180b 0%, #220904 100%);
  text-align: center;
}

.submit-btn:hover {
  background: var(--Maroon-Primary, #621a0c);
}

.nav-main a {
  text-decoration: none;
}

.our-services,
.about-us,
.contact-us-btn {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.inquire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
}

.inquire-content {
  text-align: center;
  position: relative;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inquire-content h1 {
  align-self: stretch;
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.84px;
}

.inquire-content p {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
  width: 80%;
}

.inquire-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.inquire-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.inquire-image-hide {
  display: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.industries {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.industries-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.industries-header p {
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

.industries-header h1 {
  width: 50%;
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}

.industries-header.top.values h1 {
  width: 80%;
}

.industries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.top,
.mid,
.btm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.industry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: calc(33.33% - 40px);
  height: 374px;
  text-align: center;
}

.industry-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.industry-card p {
  text-align: left;
  align-self: stretch;
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.industry-card.hide {
  visibility: hidden;
}

.dot-container {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.resource-engagement {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.top.resource {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.card-main {
  display: flex;
  align-items: stretch;
  gap: 40px;
  align-self: stretch;
}

.industries-header.top {
  gap: 13px;
}

.industries-header.top p {
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.industries-header.top h1 {
  align-self: stretch;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  width: 60%;
}

.resource-card {
  display: flex;
  min-height: 200px;
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.resource-card h1 {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.resource-card p {
  align-self: stretch;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.resouce-svg {
  width: 32px;
  height: 32px;
}

.resource-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.team-container {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.team-container img {
  width: 100%;
}

.Team-image-hide {
  display: none;
}

.industries-header.choose h1 {
  width: 50%;
}

.industries-header.choose p {
  width: 70%;
}

.top.chooseUs {
  display: flex;
  justify-content: space-between;
}

.industry-card.chooseUs {
  width: 50%;
}

.chooseUs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.chooseUs-content h1 {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: left;
  width: 80%;
}

.our-services-main {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.aboutUs {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.values-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.values-title {
  align-self: stretch;
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.values-title-cards {
  display: flex;
  gap: 40px;
  align-self: stretch;
  flex-direction: column;
}

.values-cards-container img {
  width: 100%;
}

.cards-responsive {
  display: none;
}

.values-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.banner-main {
  position: relative;
  width: 100%;
  padding: 103px 42px 0px 42px;
  justify-content: center;
  align-items: center;
}

.banner-main img {
  width: 100%;
}

.solutions-heading {
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  border-radius: 8px;
  background: rgba(41, 11, 5, 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: center;
  width: fit-content;
}

.solutions-heading p {
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 206px 42px 0px 42px;
}

.banner-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.banner-heading h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.84px;
}

.banner-heading p {
  color: var(--Grey-grey-100, #d6d6d6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
  width: 847px;
}

.contact-serivice-btn {
  display: flex;
  align-items: center;
  gap: 18px;
}

.banner-wrapper {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 103px 42px 0px 42px;
}

.banner-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.banner-heading-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 90%;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #621a0c;
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -9px;
}

.nav-links {
  display: none;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.banner-main img {
  width: 100%;
  height: auto;
}

.career {
  display: flex;
  padding: 80px 160px;
  align-items: center;
  gap: 40px;
}

.career-contact-cover {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 100%;
}

.career-contactUs,
.career-joinUs {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.career-contactUs h1,
.career-joinUs h1 {
  color: var(--Maroon-maroon-700, #461209);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  width: 60%;
}

.career-contactUs p,
.career-joinUs p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.career-contact-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.career-contactUs {
  position: relative;
}

.career-contactUs img {
  border-radius: 16px;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
}

.career-contact-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 24px;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1240px) {
  .banner-heading h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.68px;
  }

  .banner-heading p {
    color: var(--Grey-grey-100, #D6D6D6);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
    width: 80%;
  }

  .contact-serivice-btn {
    gap: 16px;
  }

  .banner-wrapper {
    padding: 80px 40px 0px 40px;
  }

  .banner-container {
    padding: 140px 40px 0px 40px;
  }

  .contact-us-btn.light {
    color: var(--Maroon-Primary, #621A0C);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 10px 20px;
  }

  .contact-us-btn.brown {
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 10px 20px;
  }
  .contact-us-btn.sec{
    padding: 10px;
    width: 40%;
  }
  .career-contact-cover{
    gap: 20px;
  }
  .career-contactUs h1, .career-joinUs h1{
    font-size: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .career-contact-content{
    gap: 20px;
  }
  .career-contact-cover{
    gap: 50px;
    padding: 50px 20px 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .career-contactUs img{
    height: 50%;
    
  }
  .career-contactUs{
    width: 100%;
  }
  .contact-us-btn.sec{
    padding: 10px;
    width: 20%;
  }
  .career{
    padding: 40px 48px;
    flex-direction: column;
  }
  .banner-heading h1 {
    font-size: 20px;
  }

  .industries-header.choose h1 {
    width: 100%;
  }

  .values-title-cards,
  .values-container {
    gap: 24px;
  }


  .industries-header.top.values h1 {
    width: 100%;
  }

  .values-title {
    color: var(--Maroon-Primary, #621A0C);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .values-content {
    flex-direction: column;
    gap: 24px;
  }

  .aboutUs {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }

  .card-main {
    gap: 24px;
  }

  .our-services-main {
    padding: 40px;
  }

  .industry-card img {
    height: 306px;
  }

  .mid.industry {
    gap: 24px;
  }

  .industries-container,
  .top.chooseUs {
    gap: 24px;
  }

  .industry-card p {
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  .industry-card.chooseUs {
    width: 100%;
  }

  .industries-header.choose p {
    color: var(--Text-Black-text-black-300, #606060);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    width: 100%;
  }

  .team-container {
    padding: 40px;
  }

  .industries-header.top h1 {
    width: 80%;
    color: var(--Text-Black-text-black-300, #606060);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .resource-engagement {
    padding: 40px 40px 0;
    gap: 40px;
  }

  .resource-card p {
    width: 80%;
  }

  .resource-card h1 {
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  .resource-card {
    gap: 20px;
    min-height: auto;
    padding: 16px;
  }

  .top.resource {
    gap: 24px;
  }

  .industries-header.top p {
    color: var(--Maroon-Primary, #621A0C);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    text-transform: uppercase;
  }

  .card-main {
    flex-direction: column;
  }

  .industries-header h1 {
    width: 100%;
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
  }

  .top,
  .mid,
  .btm {
    flex-direction: column;
  }

  .industry-card.hide {
    display: none;
  }

  .industry-card {
    width: 100%;
  }

  .industries {
    padding: 40px;
    gap: 24px;
  }

  .footer-cover {
    padding: 48px 40px;
  }

  .footer-main {
    padding: 40px 20px
  }

  .footer-tab-right {
    gap: 48px;
  }

  .address-cover {
    padding: 40px;
    flex-direction: column;
  }

  .address-main {
    gap: 40px;
    flex-direction: column;
  }

  .mail-us,
  .visit-us,
  .call-us {

    width: 100%;
  }

  .contact-form {
    display: flex;
    padding: 40px 40px 48px 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }

  .inquire-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
  }


  .inquire-content p {
    color: #606060;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 50%;
  }

  .inquire-main {
    width: 100%;
    height: 100vh;
  }

  .inquire-image {
    width: 100%;
    height: 100vh;
  }

  .inquire-main {
    height: 100vh;
  }

  .inquire-content h1 {
    font-size: 40px;
    letter-spacing: -1.2px;
  }



  .nav-main {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .banner-wrapper {
    padding: 20px 12px 20px 12px;
  }

  .banner-wrapper img {
    height: 533px;
    border-radius: 30px 30px 0 0;
  }

  .banner-container {
    padding: 78px 40px 0px 40px;
  }

  .banner-heading-content {
    width: 100%;
  }

  .solutions-heading p {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.56px;
  }

  .values-title-cards,
  .values-container {
    gap: 0;
  }

  .cards-responsive {
    display: flex;
  }

  .cards {
    display: none;
  }

  .aboutUs {
    padding: 20px;
    gap: 24px;
  }

  .services-container img {
    width: 100%;
  }

  .our-services-main {
    padding: 40px 20px;
    gap: 48px;
  }

  .industries-header.choose h1 {
    width: 100%;
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
  }

  .Team-image {
    display: none;
  }

  .Team-image-hide {
    display: flex;
  }

  .team-container {
    padding: 40px 20px;
  }

  .resource-card {
    padding: 16px;
    gap: 20px;
  }

  .resource-engagement {
    display: flex;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }

  .industry-card p {
    text-align: left;
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  .industries-header h1 {
    width: 100%;
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
  }

  .industry-card.hide {
    display: none;
  }

  .industry-card {
    width: 100%;
    gap: 16px;
    height: auto;
  }

  .industries {
    display: flex;
    padding: 20px 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  .industries-header p {
    color: var(--Grey-Primary, #7B7B7B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .mail-us h1 {
    font-size: 16px;
  }

  .visit-us h1 {
    font-size: 16px;
  }

  .call-us h1 {
    font-size: 16px;
  }

  .mail-us,
  .visit-us,
  .call-us p {
    font-size: 14px;
  }

  .footer-main {
    padding: 80px 40px;
  }

  .footer-cover {
    padding: 48px 20px;
  }

  .address-cover {
    padding: 0 20px;
    padding-bottom: 48px;
    flex-direction: column;
  }

  .socials-logos,
  .footer-tab-left {
    align-items: center;
    justify-content: center;
  }

  .footer-socials-tabs,
  .footer-tab-right {
    flex-direction: column;
  }

  .footer-socials-tabs {
    gap: 40px;
  }

  .footer-tab-right {
    gap: 12px;
  }

  .rights-text-main {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;
  }

  .form-row {
    flex-direction: column;
  }

  .contact-form {
    display: flex;
    padding: 20px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }

  .inquire-image {
    display: none;
  }

  .inquire-image-hide {
    display: flex;
  }

  .inquire-content h1 {
    color: #111;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
  }

  .inquire-content p {
    color: #606060;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 90%;
  }

  .inquire-content {
    width: 100%;
  }

  .nav-main {
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background: rgba(18, 18, 18, 0.60);
    backdrop-filter: blur(20px);
    flex-direction: column;
    padding: 40px 20px 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links .our-services,
  .nav-links .about-us {
    color: var(--White-text, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: left;
  }



  .responsive-nav-tabs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    width: 100%;
  }

  .nav-responsive-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .contact-us-btn {
    display: flex;
    height: 44px;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--White, #FFF);
    color: var(--Maroon-Primary, #621A0C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .contact-us-btn:hover {
    border-radius: 8px;
    background: rgba(123, 123, 123, 0.50);
    backdrop-filter: blur(20px);
    color: var(--White, #FFF);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
  }
  .contact-us-btn.sec{
    align-self: center;
    color: white;
    background: linear-gradient(90deg, #59180b 0%, #220904 100%);
  }
  .contact-us-btn.sec:hover{
    background: var(--Maroon-Primary, #621a0c);
  }

  .tabs {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }
}