@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-main {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0px 160px;
  justify-content: space-between;
  align-items: center;
  background: var(--White, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.sticky-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 40px;
}

.our-services,
.about-us {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-us-btn {
  border-radius: 8px;
  background: linear-gradient(90deg, #59180b 0%, #220904 100%);
  display: flex;
  height: 48px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  cursor: pointer;
}

.contact-us-btn:hover {
  border-radius: 8px;
  background: var(--Maroon-Primary, #621a0c);
}

.contact-us-btn.light {
  background: #fff;
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.contact-us-btn.brown {
  border-radius: 8px;
  background: rgba(41, 11, 5, 0.5);
  backdrop-filter: blur(25px);
  border: 1px solid transparent;
}

.contact-us-btn.brown:hover {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(41, 11, 5, 0.7);
  backdrop-filter: blur(25px);
}

.contact-us-btn.light:hover {
  border-radius: 8px;
  background: rgba(123, 123, 123, 0.5);
  backdrop-filter: blur(20px);
  color: var(--White, #fff);
}

.footer-cover {
  background: var(--White, #fff);
  display: flex;
  padding: 40px 160px 20px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-main {
  display: flex;
  padding: 80px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 40px;
  background: linear-gradient(0deg, #220904 0%, #59180b 100%);
}

.footer-socials-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.footer-tab-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.socials-logos {
  display: flex;
  width: 215px;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  display: flex;
  gap: 16px;
  align-self: stretch;
}

.logo-cover {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.mobiglide-text p {
  align-self: stretch;
  color: var(--White, #fff);
  font-family: Futura-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}

.footer-tab-right {
  display: flex;
  align-items: center;
  gap: 64px;
}

.about-us-footer-tab,
.services-footer-tab,
.careers-footer-tab,
.contact-footer-tab {
  color: var(--Grey-grey-100, #d6d6d6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  cursor: pointer;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: #6c6c6c;
}

.footer-rights {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.rights-text-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--Grey-grey-100, #d5d5d5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.address-main {
  display: flex;
  width: 100%;
  padding: 40px 160px;
  justify-content: space-between;
  align-items: flex-start;
}

.mail-us,
.visit-us,
.call-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.mail-us h1 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.visit-us h1 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.call-us h1 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.mail-us,
.visit-us,
.call-us p {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form {
  background: var(--White, #fff);
  display: flex;
  width: 100%;
  padding: 80px 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.form-container {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

label {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

label span {
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #b4b4b4;
}

textarea {
  resize: none;
  height: 100px;
}

.submit-btn {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #59180b 0%, #220904 100%);
  text-align: center;
}

.submit-btn:hover {
  background: var(--Maroon-Primary, #621a0c);
}

.nav-main a {
  text-decoration: none;
}

.our-services,
.about-us,
.contact-us-btn {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.inquire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inquire-content {
  text-align: center;
  position: relative;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.inquire-content h1 {
  align-self: stretch;
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.84px;
}

.inquire-content p {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}

.inquire-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.industries {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.industries-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.industries-header p {
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

.industries-header h1 {
  width: 40%;
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}

.industries-header.top.values h1 {
  width: 80%;
}

.industries-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.top,
.mid,
.btm {
  display: flex;
  gap: 40px;
  align-self: stretch;
}

.industry-card {
  display: flex;
  width: 346.67px;
  height: 374px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.industry-card img {
  height: 300px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.industry-card p {
  align-self: stretch;
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.dot-container {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.resource-engagement {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.top.resource {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.card-main {
  display: flex;
  align-items: stretch;
  gap: 40px;
  align-self: stretch;
}

.industries-header.top {
  gap: 13px;
}

.industries-header.top p {
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.industries-header.top h1 {
  align-self: stretch;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  width: 60%;
}

.resource-card {
  display: flex;
  width: 346.66px;
  min-height: 200px;
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.resource-card h1 {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
  width: 70%;
}

.resource-card p {
  align-self: stretch;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.resouce-svg {
  width: 32px;
  height: 32px;
}

.resource-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.team-container {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.team-container img {
  width: 100%;
}

.industries-header.choose h1 {
  width: 50%;
}

.industries-header.choose p {
  width: 70%;
}

.top.chooseUs {
  justify-content: space-between;
}

.industry-card.chooseUs {
  width: 100%;
}

.chooseUs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.chooseUs-content h1 {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.our-services-main {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.aboutUs {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.values-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.values-title {
  align-self: stretch;
  color: var(--Maroon-Primary, #621a0c);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.values-title-cards {
  display: flex;
  gap: 40px;
  align-self: stretch;
  flex-direction: column;
}

.values-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.banner-main {
  position: relative;
  width: 100%;
  padding: 103px 42px 0px 42px;
  justify-content: center;
  align-items: center;
}

.banner-main img {
  width: 100%;
}

.solutions-heading {
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  border-radius: 8px;
  background: rgba(41, 11, 5, 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: center;
  width: fit-content;
}

.solutions-heading p {
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding-left: 153px;
  padding-right: 153px;
  padding-top: 48px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Adjust other styles as needed */
}

.banner-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.banner-heading h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.84px;
}

.banner-heading p {
  color: var(--Grey-grey-100, #d6d6d6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
  width: 847px;
}

.contact-serivice-btn {
  display: flex;
  align-items: center;
  gap: 18px;
}

.banner-wrapper {
  position: relative;
  padding-top: 23px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.banner-heading-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}       